.datepicker {
    background-color: #f8f9fc;
    border-color: #5a5c69;
}

.table-fixed tbody {
    height: 500px;
    overflow-y: auto;
    width: 100%;
}

.table-fixed thead,
.table-fixed tbody,
.table-fixed tr,
.table-fixed td,
.table-fixed th {
    display: block;
}

    .table-fixed tbody td,
    .table-fixed tbody th,
    .table-fixed thead > tr > th {
        float: left;
        position: relative;
        &::after;

{
    content: '';
    clear: both;
    display: block;
}
}
