@using Common;
@{
    ViewBag.Title = "WBBSE :: Download Forms";
    Layout = "~/Views/Shared/_LayoutWebsite.cshtml";
}

@section htmlhead
{
    <link href="~/css/CustomStyle.css" rel="stylesheet" />
}

<!--Loader-->
<div id="preloader">
    <div id="loader"></div>
</div>

<section id="Position" class="bg-light">
    <div class="container-fluid text-center text-light custom-banner py-3">
        <div class="row">
            <div class="col-md-12">
                <span class="custom-heading-website">DOWNLOAD FORMS</span>
            </div>
            <div class="col-md-12 align-items-center" style="font-size: 20px;">
                @*<a class="text-light" href="/Web/Default">Home</a> <i class="fa fa-angle-double-right"></i><a id="lnkCurrent" class="text-warning">Download Forms</a>*@
                <a class="text-light" href="/Web/Default">Home</a> <i class="fa fa-angle-double-right"></i><span id="lnkCurrent" class="text-warning">Download Forms</span>
            </div>
        </div>
    </div>
</section>

<section id="content" class="my-5">
    <div class="container-fluid">
        <div class="row border rounded m-1 bg-light shadow">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-sm-2 p-4 pb-0 text-lg-right mb-2">
                        <span class="text-primary">Select Type</span>
                    </div>
                    <div class="col-sm-4 p-4 pb-0 mb-2">
                        <select id="ddlFormType" class="form-control">
                            <option value="N" selected="selected">Non-Archived</option>
                            <option value="Y">Archived</option>
                        </select>
                    </div>
                    <div class="col-sm-6 p-4 pb-0 mb-2">
                        <div class="input-group text-lg-right">
                            <input type="text" id="txtSearch" class="form-control" placeholder="Search Forms" />
                            <div class="input-group-append">
                                <button type="button" id="btnSearch" class="btn btn-primary">Search</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 mb-2">
                <div class="table-responsive">
                    <table id="GridDownloadForms" class="gj-grid table table-light table-bordered table-responsive-md"></table>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts
{
<script src="~/js/client/df.js"></script>
    <script type="text/javascript">
        var grid;
        $(document).ready(function () {
            try {
                var onSuccessFunc = function (response) {
                    grid.render(response);
                    HideLoader();
                    try {
                        $("#GridDownloadForms div").removeAttr("title");
                        $(".custom-pdf").prop("title", Content.LinkType.PDF);
                        $(".custom-url").prop("title", Content.LinkType.URL);
                        $(".custom-view").prop("title", "View Sample Form");
                        $("#GridDownloadForms").find("th").find("div").css("font-size", "13.5px");
                        chkFooter();
                    }
                    catch (err) {
                        console.log(err);
                    }
                    $("#GridDownloadForms").on('DOMSubtreeModified', chkMod);
                };

                grid = $("#GridDownloadForms").grid({
                    dataKey: "SlNo",
                    uiLibrary: "fontawesome",
                    iconsLibrary: 'fontawesome',
                    dataSource: { url: "../../Web/GetDownloadFormsList", success: onSuccessFunc },
                    columns: [
                        @Html.Raw(@ViewData[ViewDataNames.GridColumns])
                    ],
                    pager: { enable: true, limit: 10, sizes: [10, 25, 50, 100] }
                });
                grid.on('pageChanging', function (e, newPage) {
                    $("#GridDownloadForms").off('DOMSubtreeModified');
                });

                $("#lnkCurrent").prop("href", window.location.href);
                //remove active link
                $("#ulMainMenu li").removeClass("custom-navbar");
                //get new active link id
                var activeLinkId = "@ViewData[ViewDataNames.ActiveLinkLI]";
                var activeLI = document.getElementById(activeLinkId);
                activeLI.classList.add("custom-navbar");
            }
            catch (err) { }
        });
    </script>
}
