@{
    ViewBag.Title = "HowToApply";
    Layout = "~/Views/Shared/_LayoutWebsite.cshtml";
}
<br />
<section id="Position" class="bg-light">
    <div class="container-fluid text-center text-light custom-banner">
        <div class="row">
            <div class="col-12 pt-5">
                <span class="custom-heading-website">HOW TO APPLY</span>
            </div>
        </div>
        <div class="row" style="font-size: 20px;">
            <div class="col-12 pb-5 align-items-center">
                <a class="text-light" href="/Web/Default">Home</a> <i class="fa fa-angle-double-right"></i><a id="lnkCurrent" class="text-warning">How to Apply</a>
            </div>
        </div>
    </div>
</section>

<section id="content" class="bg-light">
    <br />
    <div style="margin: auto; width: 90%; padding: 5px; background-color: #d1e4f2; border-radius: 5px;">
        <div id="accordion" class="accordion">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">                       
                        <button class="btn btn-link" style="text-decoration:none;" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                             <i class="fa fa-plus"></i>&nbsp;&nbsp;<b>Duplicate Records</b>
                        </button>
                    </h5>
                </div>

                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body custom-card-body">
                        <p>
                            a. The form necessary to be filled up by the candidate for getting the duplicate record has to be downloaded from the DOWNLOAD SECTION. 
                        </p>
                        <p>
                            b. It has then to be filled up accurately. 
                        </p>
                        <p>
                            c. The relevant documents viz. admit card/ mark sheet / pass certificate duly authenticated by the Head of the Institution has to be submitted, on the basis of which the duplicate document will be issued by WBBSE 
                        </p>
                        <p>
                            d. For duplicate certificate photocopy of the General diary made to the local Police Station. has to be submitted mandatorily 

                        </p>
                        <p>
                            e. The applicant will be requested to deposit requisite fees through Cash Challan to be filled up in triplicate to the Cash Section of the Board at 77/2 Park Street, Kolkata-16 for the districts under Kolkata Regional Council Offices. And for other districts it has to be submitted to concerned Regional Examination Council Office under West Bengal Board of Secondary Education. (See Regional Examination Council for more details of district)

                        </p>
                        <p>
                            f. Once done, submit the filled up form along with the relevant documents to the concerned section of the concerned office and get your token number.

                        </p>
                        <p>
                            g. Fee structure- <a href="#">Click Here(Hyperlink)</a>

                        </p>
                        <p>
                            h. Application Form- <a href="#">Click Here(Hyperlink)</a>

                        </p>

                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" style="text-decoration:none;" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                           <i class="fa fa-plus"></i>&nbsp;&nbsp; <b>Record Verification</b>
                        </button>
                    </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body custom-card-body">
                        <p>
                            a. The record verification form should be downloaded from the DOWNLOAD SECTION and then filled up accurately. 

                        </p>
                        <p>
                            b. Fill up the form providing all detailed information  
                        </p>
                        <p>
                            c. The applicant will be requested to deposit requisite fees through Cash Challan to be filled up in triplicate to the cash section of Board at 77/2 Park Street, Kolkata-16 for the districts under Kolkata Regional Council Offices. And for other districts it has to be submitted concerned Regional Examination Council Office under West Bengal Board of Secondary Education. (See Regional Examination Council for more details of district) (Fees is waived for Central Government/undertakings/PSU. Depts. generating no revenue. )

                        </p>
                        <p>
                            d. Once done, submit the filled up form along with the relevant documents to the concerned section of the concerned office.
 

                        </p>
                        <p>
                            e. Fee structure- <a href="#">Click Here(Hyperlink)</a>


                        </p>
                        <p>
                            f. Application Form- <a href="#">Click Here(Hyperlink)</a>


                        </p>
                        <p>
                            g. Fee Exemption List- <a href="#">Click Here(Hyperlink)</a>

                        </p>

                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h3 class="mb-0">
                        <button class="btn btn-link collapsed" style="text-decoration:none;" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                           <i class="fa fa-plus"></i>&nbsp;&nbsp; <b>Record Correction</b>
                        </button>
                    </h3>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                    <div class="card-body custom-card-body">
                        <p>
                            Correction of Name of the Candidate, Name of Father, Name of Guardian, Date of Birth, Address, Name of the School etc.


                        </p>
                        <p>
                            a. The record correction form should be downloaded from the DOWNLOAD SECTION and then filled up accurately. 


                        </p>
                        <p>
                            b. The documents that need to be attached for correction(s) are:
                                <ol>
                                    <li>Copy of the Registration Certificate, Admit card, Marksheet, Pass Certificate duly attested by the Head of the Institution. 
                                    </li>
                                    <li>Birth Registration Certificate. In case of unavailability of the original Birth Registration Certificate, the copy of the Admission Register duly attested by the A.I. (SE)/ A.D.I (SE) and Head of the Institution has to be submitted. In case of availability of the Birth Registration Certificate, it has to be attested by any gazetted officer.
                                    </li>
                                    <li>Duly filled up correction form with signature of Head of the Institution along with all the relevant documents are to be verified by the concerned official of the record section before submission of the same.

                                    </li>
                                    <li>On approval of the correction from the competent authority of WBBSE, the applicant will be requested to deposit requisite fees through Cash Challan to be filled up in triplicate to the cash section of Board at 77/2 Park Street, Kolkata-16 for the districts under Kolkata Regional Council Offices. And for other districts it has to be submitted concerned Regional Examination Council Office under WBBSE.

                                    </li>

                                </ol>
                        </p>
                        <p>
                            c. Fee structure- <a href="#">Click Here(Hyperlink)</a>


                        </p>
                        <p>
                            d. Application Form- <a href="#">Click Here(Hyperlink)</a>

                        </p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="heading4">
                    <h3 class="mb-0">
                        <button class="btn btn-link collapsed" style="text-decoration:none;" data-toggle="collapse" data-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                            <i class="fa fa-plus"></i>&nbsp;&nbsp;<b>Migration Certificate
                            </b>
                        </button>
                    </h3>
                </div>
                <div id="collapse4" class="collapse" aria-labelledby="heading4" data-parent="#accordion">
                    <div class="card-body custom-card-body">
                        <b>Issuance of Migration Certificate. 
                        </b>
                        <p>
                            a. The candidate would download the Migration form from the download section. 
                        </p>
                        <p>
                            b. The candidate has to fill up all the detailed information about her/his migration. 
                        </p>
                        <p>
                            c. The candidate has to append relevant documents viz. copy of Registration Certificate, Admit card, Mark sheet and Pass Certificate with the migration form.
                        </p>
                        <p>
                            d. The applicant will be requested to deposit requisite fees through Cash Challan to be filled up in triplicate to the Cash Section of the Board at 77/2 Park Street, Kolkata-16 for the districts under Kolkata Regional Council Offices. And for other districts it has to be submitted concerned Regional Examination Council Office under WBBSE. (See Regional Examination Council for more details of district) 
                        </p>
                        <p>
                            e. Once done, submit the filled up form along with the relevant documents to the concerned section of the concerned office.

                        </p>
                        <p>
                            f. Application Form- <a href="#">Click Here(Hyperlink)</a>

                        </p>
                        <p>
                            g. Fee structure- <a href="#">Click Here(Hyperlink)</a>

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            try {
                $("#lnkCurrent").prop("href", window.location.href);
            }
            catch (err) {
                console.log(err.responseText);
            }

            //Opening the selected collapse panel
            var CollapseId = window.location.hash;           
            $(CollapseId).removeClass("collapse").addClass("collapse show");

            // Add minus icon for collapse element which is open by default
            $(".collapse.show").each(function () {                
                $(this).prev(".card-header").find(".fa").addClass("fa-minus").removeClass("fa-plus");
            });
        
            // Toggle plus minus icon on show hide of collapse element
            $(".collapse").on('show.bs.collapse', function () {
                $(this).prev(".card-header").find(".fa").removeClass("fa-plus").addClass("fa-minus");
            }).on('hide.bs.collapse', function () {
                $(this).prev(".card-header").find(".fa").removeClass("fa-minus").addClass("fa-plus");
            });
        });
    </script>
}
