@using Common;
@{
    ViewBag.Title = "WBBSE :: PastPresident";
    Layout = "~/Views/Shared/_LayoutWebsite.cshtml";
}

@section htmlhead
{
    <link href="~/css/custom-pp.css" rel="stylesheet" />
}

<section id="Position" class="bg-light">
    <div class="container-fluid text-center text-light custom-banner py-3">
        <div class="row">
            <div class="col-md-12">
                <span class="custom-heading-website">PAST PRESIDENTS</span>
            </div>
            <div class="col-md-12 align-items-center" style="font-size: 20px;">
                @*<a class="text-light" href="/Web/Default">Home</a> <i class="fa fa-angle-double-right"></i><a id="lnkCurrent" class="text-warning">Past Presidents</a>*@
                <a class="text-light" href="/Web/Default">Home</a> <i class="fa fa-angle-double-right"></i><span id="lnkCurrent" class="text-warning">Past Presidents</span>
            </div>
        </div>

    </div>
</section>
<section id="content" class="bg-light my-5">
    <div class="container">   
        <div class="card-group">
            <div class="card">
                <img src="~/ReadWriteData/ExPresident/A K Chanda.jpg" class="card-img-top w-75 ml-4 mt-2" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Apurba Kumar Chandra (President)</h5>
                    <p class="card-text"><b>Tenure:</b> 26.04.1951 – 12.05.1954</p>
                    <p class="card-text"><small class="text-muted"><b>Last updated: </b>03-08-2020</small></p>
                </div>
            </div>
            <div class="card">
                <img src="~/ReadWriteData/ExPresident/G N Das.JPG" class="card-img-top  w-75 ml-4 mt-2" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Justice Gopendra Nath Das (Administrator)</h5>
                    <p class="card-text"><b>Tenure:</b> 13.05.1954 – 13.09.1955</p>
                    <p class="card-text"><small class="text-muted"><b>Last updated: </b>03-08-2020</small></p>
                </div>
            </div>
            <div class="card">
                <img src="~/ReadWriteData/ExPresident/J N Mukherjee.jpg" class="card-img-top  w-75 ml-4 mt-2" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Dr.Jnanendra Nath Mukherjee (Administrator)</h5>
                    <p class="card-text"><b>Tenure:</b> 14.09.1955 – 31.08.1956</p>
                    <p class="card-text"><small class="text-muted"><b>Last updated: </b>03-08-2020</small></p>
                </div>
            </div>
            <div class="card">
                <img src="~/ReadWriteData/ExPresident/S K Mitra.jpg" class="card-img-top w-75 ml-4 mt-2" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Dr.Sisir Kumar Mitra (Administrator)</h5>
                    <p class="card-text"><b>Tenure:</b> 01.09.1956 – 30.04.1962</p>
                    <p class="card-text"><small class="text-muted"><b>Last updated: </b>03-08-2020</small></p>
                </div>
            </div>
        </div>    
        <div class="card-group">
            
            <div class="card">
                <img src="~/ReadWriteData/ExPresident/J C Sengupta.jpg" class="card-img-top  w-75 ml-4 mt-2" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Dr.Jyotish Chandra Sengupta (Administrator)</h5>
                    <p class="card-text"><b>Tenure:</b> 01.05.1962 – 31.12.1963</p>
                    <p class="card-text"><small class="text-muted"><b>Last updated: </b>03-08-2020</small></p>
                </div>
            </div>
            <div class="card">
                <img src="~/ReadWriteData/ExPresident/J C Sengupta.jpg" class="card-img-top  w-75 ml-4 mt-2" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Dr.Jyotish Chandra Sengupta (President)</h5>
                    <p class="card-text"><b>Tenure:</b> 01.01.1964 – 31.12.1965</p>
                    <p class="card-text"><small class="text-muted"><b>Last updated: </b>03-08-2020</small></p>
                </div>
            </div>
            <div class="card">
                <img src="~/ReadWriteData/ExPresident/Anil Chandra Banerjee.jpg" class="card-img-top w-75 ml-4 mt-2" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Dr. Anil Chandra Banerjee (President)</h5>
                    <p class="card-text"><b>Tenure:</b> 01.01.1966 – 24.05.1966</p>
                    <p class="card-text"><small class="text-muted"><b>Last updated: </b>03-08-2020</small></p>
                </div>
            </div>
            <div class="card">
                <img src="~/ReadWriteData/ExPresident/J N Mallik.jpg" class="card-img-top  w-75 ml-4 mt-2" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Sree Jyotsna Nath Mallik (President)</h5>
                    <p class="card-text"><b>Tenure:</b> 25.05.1966 – 02.07.1969</p>
                    <p class="card-text"><small class="text-muted"><b>Last updated: </b>03-08-2020</small></p>
                </div>
            </div>
        </div>  
        <div class="card-group">           
            <div class="card">
                <img src="~/ReadWriteData/ExPresident/Anukul Chandra Banerjee.jpg" class="card-img-top  w-75 ml-4 mt-2" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Dr.Anukul Chandra Banerjee (President)</h5>
                    <p class="card-text"><b>Tenure:</b> 04.07.1969 – 15.07.1970</p>
                    <p class="card-text"><small class="text-muted"><b>Last updated: </b>03-08-2020</small></p>
                </div>
            </div>
            <div class="card">
                <img src="~/ReadWriteData/ExPresident/B C Mukherjee.jpg" class="card-img-top w-75 ml-4 mt-2" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Prof. Bhupesh Chandra Mukherjee (President)</h5>
                    <p class="card-text"><b>Tenure:</b> 16.07.1970 – 31.12.1972</p>
                    <p class="card-text"><small class="text-muted"><b>Last updated: </b>03-08-2020</small></p>
                </div>
            </div>
            <div class="card">
                <img src="~/ReadWriteData/ExPresident/Satyendra Mohan Chatterjee.jpg" class="card-img-top  w-75 ml-4 mt-2" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Prof. Satyendra Mohan Chatterjee (President)</h5>
                    <p class="card-text"><b>Tenure:</b> 01.01.1973 – 13.09.1977</p>
                    <p class="card-text"><small class="text-muted"><b>Last updated: </b>03-08-2020</small></p>
                </div>
            </div>
            <div class="card">
                <img src="~/ReadWriteData/ExPresident/Satyapriya Roy.jpg" class="card-img-top  w-75 ml-4 mt-2" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Sree Satya Priya Roy (Administrator)</h5>
                    <p class="card-text"><b>Tenure:</b> 14.09.1977 – 11.02.1978</p>
                    <p class="card-text"><small class="text-muted"><b>Last updated: </b>03-08-2020</small></p>
                </div>
            </div>
        </div>
        <div class="card-group">
            <div class="card">
                <img src="~/ReadWriteData/ExPresident/Bhabesh Maitra.jpg" class="card-img-top  w-75 ml-4 mt-2" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Principal Bhabesh Maitra (Administrator)</h5>
                    <p class="card-text"><b>Tenure:</b> 17.02.1978 – 13.03.1980</p>
                    <p class="card-text"><small class="text-muted"><b>Last updated: </b>03-08-2020</small></p>
                </div>
            </div>
            <div class="card">
                <img src="~/ReadWriteData/ExPresident/Bhabesh Maitra.jpg" class="card-img-top w-75 ml-4 mt-2" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Principal Bhabesh Maitra (President)</h5>
                    <p class="card-text"><b>Tenure:</b> 14.03.1980 – 13.03.1985</p>
                    <p class="card-text"><small class="text-muted"><b>Last updated: </b>03-08-2020</small></p>
                </div>
            </div>
            <div class="card">
                <img src="~/ReadWriteData/ExPresident/Ranju Gopal Mukherjee.jpg" class="card-img-top  w-75 ml-4 mt-2" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Prof. Ranju Gopal Mukherjee (President)</h5>
                    <p class="card-text"><b>Tenure:</b> 14.03.1985 – 20.12.1989</p>
                    <p class="card-text"><small class="text-muted"><b>Last updated: </b>03-08-2020</small></p>
                </div>
            </div>
            <div class="card">
                <img src="~/ReadWriteData/ExPresident/Chitta Ranjan Banerjee.JPG" class="card-img-top  w-75 ml-4 mt-2" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Dr.Chittaranjan Banerjee (President)</h5>
                    <p class="card-text"><b>Tenure:</b> 21.12.1989 – 20.12.1994</p>
                    <p class="card-text"><small class="text-muted"><b>Last updated: </b>03-08-2020</small></p>
                </div>
            </div>
        </div> 
        <div class="card-group">
            <div class="card">
                <img src="~/ReadWriteData/ExPresident/Chitta Ranjan Banerjee.JPG" class="card-img-top  w-75 ml-4 mt-2" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Dr.Chittaranjan Banerjee (President)</h5>
                    <p class="card-text"><b>Tenure:</b> 21.12.1994 – 20.12.1999</p>
                    <p class="card-text"><small class="text-muted"><b>Last updated: </b>03-08-2020</small></p>
                </div>
            </div>
            <div class="card">
                <img src="~/ReadWriteData/ExPresident/Arun Kiron Chakrabarti.JPG" class="card-img-top w-75 ml-4 mt-2" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Dr.Arun Kiron Chakraborty (President)</h5>
                    <p class="card-text"><b>Tenure:</b> 21.12.1999 – 19.08.2001</p>
                    <p class="card-text"><small class="text-muted"><b>Last updated: </b>03-08-2020</small></p>
                </div>
            </div>
            <div class="card">
                <img src="~/ReadWriteData/ExPresident/Haraprasad Samaddar.JPG" class="card-img-top  w-75 ml-4 mt-2" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Dr.Haraprosad Samaddar (President)</h5>
                    <p class="card-text"><b>Tenure:</b> 20.08.2001 – 16.09.2002</p>
                    <p class="card-text"><small class="text-muted"><b>Last updated: </b>03-08-2020</small></p>
                </div>
            </div>
            <div class="card">
                <img src="~/ReadWriteData/ExPresident/Dibyendu Bikas Hota.JPG" class="card-img-top  w-75 ml-4 mt-2" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Prof. Dibyendu Bikas Hota (President)</h5>
                    <p class="card-text"><b>Tenure:</b> 17.09.2002 – 15.11.2005</p>
                    <p class="card-text"><small class="text-muted"><b>Last updated: </b>03-08-2020</small></p>
                </div>
            </div>
        </div>  
        <div class="card-group">
            <div class="card">
                <img src="~/ReadWriteData/ExPresident/Ujjwal Kumar Basu.JPG" class="card-img-top  w-75 ml-4 mt-2" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Prof. Ujjwal Kumar Basu (President)</h5>
                    <p class="card-text"><b>Tenure:</b> 16.11.2005 - 28.12.2007</p>
                    <p class="card-text"><small class="text-muted"><b>Last updated: </b>03-08-2020</small></p>
                </div>
            </div>
            <div class="card">
                <img src="~/ReadWriteData/ExPresident/..." class="card-img-top w-75 ml-4 mt-2" alt="Image not found">
                <div class="card-body">
                    <h5 class="card-title">Dr.Gopa Dutta (President)</h5>
                    <p class="card-text"><b>Tenure:</b> 28.12.2007 - 09.01.2008</p>
                    <p class="card-text"><small class="text-muted"><b>Last updated: </b>03-08-2020</small></p>
                </div>
            </div>
            <div class="card">
                <img src="~/ReadWriteData/ExPresident/Mamata Ray.JPG" class="card-img-top  w-75 ml-4 mt-2" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Dr. Mamata Ray(Chaudhuri) (President)</h5>
                    <p class="card-text"><b>Tenure:</b> 09.01.2008 - 01.02.2011</p>
                    <p class="card-text"><small class="text-muted"><b>Last updated: </b>03-08-2020</small></p>
                </div>
            </div>
            <div class="card">
                <img src="~/ReadWriteData/ExPresident/Anjan Kumar Sengupta.JPG" class="card-img-top  w-75 ml-4 mt-2" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Prof.Anjan Kumar Sengupta (President)</h5>
                    <p class="card-text"><b>Tenure:</b> 01.02.2011 - 17.08.2011</p>
                    <p class="card-text"><small class="text-muted"><b>Last updated: </b>03-08-2020</small></p>
                </div>
            </div>
            <div class="card">
                <img src="~/ReadWriteData/ExPresident/Chaitali Dutta.JPG" class="card-img-top  w-75 ml-4 mt-2" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Prof.Chaitali Dutta (President)</h5>
                    <p class="card-text"><b>Tenure:</b> 17.08.2011 - 31.07.2012</p>
                    <p class="card-text"><small class="text-muted"><b>Last updated: </b>03-08-2020</small></p>
                </div>
            </div>
        </div>                                   
    </div>
</section>

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            try {
                $("#lnkCurrent").prop("href", window.location.href);
            }
            catch (err) {

            }
        });
    </script>
}
