@using Common;
@{
    ViewBag.Title = "WBBSE :: Results (Abstract)";
    Layout = "~/Views/Shared/_LayoutWebsite.cshtml";
}

<section id="Position" class="bg-light">
    <div class="container-fluid text-center text-light custom-banner py-3">
        <div class="row">
            <div class="col-md-12">
                <span class="custom-heading-website">RESULS (ABSTRACT)</span>
            </div>
            <div class="col-md-12 align-items-center custom-font-20">
                <a class="text-light" href="/Web/Default">Home</a> <i class="fa fa-angle-double-right"></i><span class="text-light">Section / Department</span> <i class="fa fa-angle-double-right"></i><span id="lnkCurrent" class="text-warning"> Results (Abstract)</span>
            </div>
        </div>
    </div>
</section>

<section id="content" class="my-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 mb-3 mr-lg-0 pr-lg-0">
                <div class="nav flex-column nav-pills border rounded shadow bg-light" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link active" id="v-pills-ResultsAbstract-tab" data-toggle="pill" href="#v-pills-ResultsAbstract" role="tab" aria-controls="v-pills-ResultsAbstract" aria-selected="true">Result (Abstract)</a>
                </div>
            </div>
            <div class="col-md-9">
                <div class="tab-content p-2 border rounded shadow-lg bg-light" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-ResultsAbstract" role="tabpanel" aria-labelledby="v-pills-ResultsAbstract-tab">
                        <h6 class="text-center custom-font-20 font-weight-bold mt-2 mb-3">RESULTS (ABSTRACT)</h6>
                        <div class="row mx-auto my-3">
                            <div class="col-12">
                                <div class="table-responsive p-0">
                                    <table id="GridResultsAbstract" class="gj-grid table table-light table-bordered table-striped table-responsive-md"></table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts
{
    <script src="~/js/BasicFunctions.js"></script>
    <script src="~/js/loadingoverlay.min.js"></script>
    <script src="~/js/client/ra.js?v=@DateTime.Now.ToFileTime()"></script>
    <script type="text/javascript">
        var gridRequisition, gridResultAbstract;
        $("#v-pills-tab").click(function () {
            setTimeout(chkFooter, 200);
        });
        $("#v-pills-ResultsAbstract-tab").click(function () {
            ShowLoaderNew();
            var onSuccessFunc = function (response) {
                gridResultAbstract.render(response);
                HideLoaderNew();
                try {
                    $("#GridResultsAbstract div").removeAttr("title");
                    //$("#GridResultsAbstract").find("th").find("div").css("font-size", "13.5px");
                    setTimeout(chkFooter, 200);
                }
                catch (err) {
                    console.log(err);
                }
            };
            gridResultAbstract = $("#GridResultsAbstract").grid({
                dataKey: "BookId",
                uiLibrary: "fontawesome",
                iconsLibrary: 'fontawesome',
                dataSource: { url: "../../Web/GetResultsAbstract", success: onSuccessFunc },
                columns: [
                    @Html.Raw(@ViewData[ViewDataNames.GridColumns])
                ],
                pager: { enable: true, limit: 10, sizes: [10, 25, 50, 100] }
            });
            gridResultAbstract.reload({ searchString: '' });
        });
        $(document).ready(function () {
            try {
                $("#v-pills-ResultsAbstract-tab").click();
                $("#lnkCurrent").prop("href", window.location.href);
                //remove active link
                $("#ulMainMenu li").removeClass("custom-navbar");
                //get new active link id
                var activeLinkId = "@ViewData[ViewDataNames.ActiveLinkLI]";
                var activeLI = document.getElementById(activeLinkId);
                activeLI.classList.add("custom-navbar");
            }
            catch (err) { }
        });
    </script>
}
