@using Common;
@{
    ViewBag.Title = "WBBSE :: School Directory";
    Layout = "~/Views/Shared/_LayoutWebsite.cshtml";
}

@section htmlhead
{
    <link href="~/css/CustomStyle.css" rel="stylesheet" />
}

<!--Loader-->
<div id="preloader">
    <div id="loader"></div>
</div>

<section id="Position" class="bg-light">
    <div class="container-fluid text-center text-light custom-banner py-3">
        <div class="row">
            <div class="col-md-12">
                <span class="custom-heading-website">School Directory</span>
            </div>
            <div class="col-md-12 align-items-center" style="font-size: 20px;">
                <a class="text-light" href="/Web/Default">Home</a> <i class="fa fa-angle-double-right"></i><span id="lnkCurrent" class="text-warning">School Directory</span>
            </div>
        </div>
    </div>
</section>

<section id="content" class="my-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-9 mx-auto border rounded p-4 bg-light shadow">
                <div class="row mt-4 mb-2">
                    <div class="col-md-2 text-lg-right">
                        Select Zone
                    </div>
                    <div class="col-md-10">
                        <select id="ddlZone" class="form-control"></select>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-2 text-lg-right">
                        Select District
                    </div>
                    <div class="col-md-10">
                        <select id="ddlDistrict" class="form-control"></select>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-2 text-lg-right">
                        Select Sub-Division
                    </div>
                    <div class="col-md-10">
                        <select id="ddlSubDivision" class="form-control"></select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 pb-0 text-center"><b>OR</b></div>
                </div>
                <div class="row pb-4 pt-2 mb-0">
                    <div class="col-sm-2 pt-1 pb-2 mb-0 text-lg-right">
                        Search School
                    </div>
                    <div class="col-sm-10 pt-0 pb-2 mb-0">
                        <div class="input-group text-right">
                            <input type="text" id="txtSearch" class="form-control" placeholder="Search School" />
                            <div class="input-group-append">
                                <select id="ddlSearchType" class="form-control">
                                    <option value="N" selected="selected">By School Name</option>
                                    <option value="I">By Index No</option>
                                </select>
                            </div>
                            <div class="input-group-append">
                                <button type="button" id="btnSearch" class="btn btn-primary">Search</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row my-3">
                    <div class="col-md-12" id="divGrid">
                        <div class="table-responsive">
                            <table id="GridSchoolDirectory" class="gj-grid table table-light table-bordered table-striped table-responsive-md"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- View Modal -->
<div class="modal fade" id="popupModalView" tabindex="-1" role="dialog" aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg modal-width-75">
        <div id="divModalContentView" class="modal-content">
            <div class="modal-header bg-primary text-light">
                <h4 class="modal-title">School Data :: View Record</h4>
                <button type="button" class="close text-light" data-dismiss="modal" onclick="ClearViewData()">&times;</button>
            </div>
            <div class="modal-body" id="divPopupBodyView">
                <table class="table table-bordered table-striped table-hover">
                    <tbody id="tblViewData"></tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="ClearViewData()">Close</button>
            </div>
        </div>
    </div>
</div>


@section scripts
{
    <script src="~/js/client/sd.js"></script>
    <script type="text/javascript">
        var grid;
        $(document).ready(function () {
            try {
                GetZoneList();

                var onSuccessFunc = function (response) {
                    grid.render(response);
                    HideLoader();
                    try {
                        $("#GridSchoolDirectory div").removeAttr("title");
                        $(".custom-pdf").prop("title", Content.LinkType.PDF);
                        $(".custom-url").prop("title", Content.LinkType.URL);
                        $(".custom-view").prop("title", "View Details");
                        $("#GridSchoolDirectory").find("th").find("div").css("font-size", "13.5px");
                        chkFooter();
                    }
                    catch (err) {
                        console.log(err);
                    }
                    $("#GridSchoolDirectory").on('DOMSubtreeModified', chkMod);
                };

                grid = $("#GridSchoolDirectory").grid({
                    dataKey: "SlNo",
                    uiLibrary: "fontawesome",
                    iconsLibrary: 'fontawesome',
                    dataSource: { url: "../../Web/GetSchoolDirectoryList", success: onSuccessFunc },
                    columns: [
                        @Html.Raw(@ViewData[ViewDataNames.GridColumns])
                    ],
                    pager: { enable: true, limit: 10, sizes: [10, 25, 50, 100] }
                });
                grid.on('pageChanging', function (e, newPage) {
                    $("#GridSchoolDirectory").off('DOMSubtreeModified');
                });

                $("#lnkCurrent").prop("href", window.location.href);
                //remove active link
                $("#ulMainMenu li").removeClass("custom-navbar");
                //get new active link id
                var activeLinkId = "@ViewData[ViewDataNames.ActiveLinkLI]";
                var activeLI = document.getElementById(activeLinkId);
                activeLI.classList.add("custom-navbar");
            }
            catch (err) { }
        });
    </script>

   
}

