@{
    ViewBag.Title = "WBBSE :: Secretary's Desk";
    Layout = "~/Views/Shared/_LayoutWebsite.cshtml";
}

<section id="Position" class="bg-light">
    <div class="container-fluid text-center text-light custom-banner">
        <div class="row">
            <div class="col-12 pt-5">
                <span class="custom-heading-website">SECRETARY'S DESK</span>
            </div>
        </div>
        <div class="row" style="font-size: 20px;">
            <div class="col-12 pb-5 align-items-center">
                <a class="text-light" href="/Web/Default">Home</a> <i class="fa fa-angle-double-right"></i><a class="text-warning" href="/Web/SecretaryDesk">Secretary's Desk</a>
            </div>
        </div>
    </div>
</section>

<section id="content" class="bg-light">
    <div class="container-fluid">
        <div class="row border rounded m-5">
            <div class="col-12 p-5 text-justify" style="font-size: 18px; font-weight: 400;">
                <p class="text-center">
                    <img src="~/ReadWriteData/BoardDesk/Secretary.png" class="img-fluid rounded border" />
                </p>
                <p>
                    Till date WBBSE has limited its scope to issue quality education and providing a hassle free Board examination for the 1st ever career leap by students. 
                    But now, in keeping with the fast moving life of modern time the WBBSE envisioned to upgrade its old website so as to serve every information ready on platter and services as prompt as online delivery.
                </p>
                <p>
                    I am delighted to announce the launch of newly designed website of WBBSE. WBBSE has developed and designed a dynamic website by dint of which all its services 
                    that has a public interface can be provided online, facilitating speedy work and minimizing manual delay/error. In future this may be linked with all schools’ website 
                    under the Board on one hand and the School Education Department’s portal on the other for providing better services to all concerned.
                </p>
                <p>
                    Our goal is to provide our visitors an easier way to learn about WBBSE services and solutions and also to allow the visitor to browse 
                    information based on their own need and choice. The new website is interactive and gives better access to 
                    <strong>About Us, Vision & Mission, WBBSE Sections, Syllabus & Curriculum, Model Questions, 
                    WBBSE Publications, Locate your School, Circulars & Memos, Notification & Announcements, Appointment Cell & WBBSE Services.</strong>
                </p>
                <p>
                    We will be constantly updating the content of our website with helpful information, latest announcements and Notifications, 
                    achievements, academic and administrative calendar of WBBSE in the Home Page Section.
                </p>
                <p>
                    Different online applications viz. Online Registration & Enrolment of students, Online submission of Teachers’ Information by schools, 
                    Online PPS & PPR of Answer scripts of Madhyamik Examination, online submission of RTI applications, Online application for Record Correction, 
                    Record Verification, issuing Duplicate Records, Migration Certificate and Transcript, Online application for Recognition of schools and General 
                    section will be taken up in the next phases of the project.
                </p>
                <p>
                    I hope all will find the new website user friendly with a crisp look and easy-to-accessible module. I also wish to establish this portal as a comprehensive source 
                    of information for those who visit our site.
                </p>
                <p>
                    I would also like to thank few of our respected senior teachers, our amazing staff at WBBSE & NIC who donated their valuable time and energy to make this site what it is.
                </p>
                <p>
                    Striving toward betterment we always look forward to our revered teachers and beloved students for their priceless suggestions, feedbacks and critical evaluation 
                    on/of our endeavour. Please feel free to email us.
                </p>
                <p>
                    <b>
                        Secretary-in-charge
                    <br />
                        WBBSE
                    </b>
                </p>
            </div>
        </div>
    </div>
</section>
