@using Common;
@{
    ViewBag.Title = "WBBSE Board Desk";
    Layout = "~/Views/Shared/_LayoutWebsite.cshtml";
}


<section id="Position" class="bg-light">
    <div class="container-fluid text-center text-light custom-banner py-3">
        <div class="row">
            <div class="col-md-12">
                <span class="custom-heading-website">WBBSE AUTHORITIES</span>
            </div>
            <div class="col-md-12 align-items-center" style="font-size: 20px;">
                <a class="text-light" href="/Web/Default">Home</a> <i class="fa fa-angle-double-right"></i><span id="lnkCurrent" class="text-warning"> Authorities</span>
            </div>
        </div>
    </div>
</section>

<section id="content" class="my-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 mb-3 mr-lg-0 pr-lg-0">
                <div class="nav flex-column nav-pills border rounded shadow bg-light" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link active" id="v-pills-President-tab" data-toggle="pill" href="#v-pills-President" role="tab" aria-controls="v-pills-President" aria-selected="true">President</a>
                    <a class="nav-link" id="v-pills-Secretary-tab" data-toggle="pill" href="#v-pills-Secretary" role="tab" aria-controls="v-pills-Secretary" aria-selected="false">Secretary</a>
                    <a class="nav-link" id="v-pills-DeputySecretaryAdministration-tab" data-toggle="pill" href="#v-pills-DeputySecretaryAdministration" role="tab" aria-controls="v-pills-DeputySecretaryAdministration" aria-selected="false">Deputy Secretary (Administration)</a>
                    <a class="nav-link" id="v-pills-DeputySecretaryAcademic-tab" data-toggle="pill" href="#v-pills-DeputySecretaryAcademic" role="tab" aria-controls="v-pills-DeputySecretaryAcademic" aria-selected="false">Deputy Secretary (Academic)</a>
                    <a class="nav-link" id="v-pills-DeputySecretaryExamination-tab" data-toggle="pill" href="#v-pills-DeputySecretaryExamination" role="tab" aria-controls="v-pills-DeputySecretaryExamination" aria-selected="false">Deputy Secretary (Examination)</a>
                </div>
            </div>
            <div class="col-md-9">
                <div class="tab-content border p-2 border rounded shadow-lg bg-light" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-President" role="tabpanel" aria-labelledby="v-pills-President-tab">
                        <h6 class="text-center mt-2 custom-font-20 font-weight-bold">FROM THE DESK OF PRESIDENT, WBBSE</h6>
                        <div class="text-center my-3">
                            <img src="~/ReadWriteData/BoardDesk/President.png" class="img-fluid img-thumbnail shadow" />
                        </div>
                        <div class="text-center mb-3 font-weight-bold">
                            <span class="shadow-sm p-2">PROF. DR. KALYANMOY GANGULY</span>
                        </div>
                        <div class="p-3 text-justify">
                            <div class="mb-2">
                                <i class="fas fa-quote-left"></i>&nbsp;
                                In this era of technology and apps, <strong>"update"</strong> is the new in. We constantly need to update our apps to make them work faster and better.
                            </div>
                            <div class="mb-2">Keeping in pace with this digital era, We at WBBSE have endeavoured to ‘update’ and improvise our website to provide all our esteemed visitors a better and improved experience.</div>
                            <div class="mb-2">It has been converted to a more accessible, user-friendly, mobile compatible portal with a well planned information architecture, effective navigation and browser consistency with all the information you need about us literally at your finger tips.</div>
                            <div class="mb-2">
                                Here’s wishing you a seamless logging in and a marvellous /successful usability.
                                &nbsp;<i class="fas fa-quote-right"></i>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-Secretary" role="tabpanel" aria-labelledby="v-pills-Secretary-tab">
                        <h6 class="text-center mt-2 custom-font-20 font-weight-bold">FROM THE DESK OF SECRETARY, WBBSE</h6>
                        <div class="text-center my-3">
                            <img src="~/ReadWriteData/BoardDesk/Secretary.png" class="img-fluid img-thumbnail shadow" />
                        </div>
                        <div class="text-center mb-3 font-weight-bold">
                            <span class="shadow-sm p-2">SMT. PAROMITA ROY, W.B.C.S.(EXE.)</span>
                        </div>
                        <div class="p-3 text-justify">
                            <div class="mb-2">
                                <i class="fas fa-quote-left"></i>&nbsp;
                                Till date WBBSE has limited its scope to issue quality education and providing a hasslefree Board examination for the 1st ever career leap by students. But now, in keeping with the fast moving life of modern time the WBBSE envisions to upgrade its old website so as to serve every information ready on platter and services as prompt as online delivery.
                            </div>
                            <div class="mb-2">
                                I am delighted to announce the launch of newly designed website of WBBSE. WBBSE has developed and designed a dynamic website by dint of which all its services that has a public interface can be provided online, facilitating speedy work and minimizing manual delay/error. In future this may be linked with all schools’ website under the Board on one hand and the School Education Department’s portal on the other for providing better services to all concerned.
                            </div>
                            <div class="mb-2">
                                Our goal is to provide our visitors an easier way to learn about WBBSE services and solutions and also to allow the visitor to browse information based on their own need and choice. The new website is interactive and gives better access to About Us, Vision & Mission, WBBSE Sections, Syllabus & Curriculum, Model Questions, WBBSE Publications, Locate your School, Circulars & Memos, Notification & Announcements, Appointment Cell & WBBSE Services.
                            </div>
                            <div class="mb-2">
                                We will be constantly updating the content of our website with helpful information, latest announcements and Notifications, achievements, academic and administrative calendar of WBBSE in the Home Page Section.
                            </div>
                            <div class="mb-2">
                                Different online applications viz. Online Registration & Enrolment of students, Online submission of Teachers’ Informations by schools, Online PPS & PPR of Answerscripts of Madhyamik Examination, online submission of RTI applications, Online application for Record Correction, Record Verification, issuing Duplicate Records, Migration Certificate and Transcript, Online application for Recognition of schools and General section will be taken up in the next phases of the project.
                            </div>
                            <div class="mb-2">
                                I hope all will find the new website user friendly with a crisp look and easy-to-access module. I also wish to establish this portal as a comprehensive source of information for those who visit our site.
                            </div>
                            <div class="mb-2">
                                I would also like to thank few of our respected senior teachers, our amazing staff at WBBSE & NIC who donated their valuable time and energy to make this site what it is.
                            </div>
                            <div class="mb-2">
                                Striving towards betterment we always look forward to our revered teachers and beloved students for their priceless suggestions, feedbacks and critical evaluation on /of our endeavour. Please feel free to email us.
                                &nbsp;<i class="fas fa-quote-right"></i>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-DeputySecretaryAdministration" role="tabpanel" aria-labelledby="v-pills-DeputySecretaryAdministration-tab">
                        <div class="p-2">
                            <h6 class="text-center mt-2 custom-font-20 font-weight-bold">FROM THE DESK OF DEPUTY SECRETARY (ADMINISTRATION), WBBSE</h6>
                            <div class="text-center my-3">
                                <img src="~/ReadWriteData/BoardDesk/Secretary.png" class="img-fluid img-thumbnail shadow" />
                            </div>
                            <div class="text-center mb-3 font-weight-bold">
                                <span class="shadow-sm p-2">SMT. PAROMITA ROY, W.B.C.S.(EXE.)</span>
                            </div>
                            <div class="p-3 text-justify">
                                <div class="mb-2">
                                    <i class="fas fa-quote-left"></i>&nbsp;
                                    I am privileged to welcome you to our new dynamic web portal through which we hope to reach all our students (present and ex), our affiliated schools and all institutions/individuals associated with us, in a much better way. This initiative to overhaul our static website to a dynamic web portal is aimed at enabling a two way communication between the Board and its stakeholders. Our aim is to upgrade our services from offline to online so as to make service providing smarter, faster and easier in keeping with technological revolution of the time. Till date any application, be it for PPS/PPR/RTI or for Record Correction / Verification /Duplicate or for the Registration and Enrolment of students for Board examination, was taken manually. Applicant had to come to the offices of WBBSE either personally or through school, deposit requisite fees and wait for the service. But hereafter anyone can have the liberty to apply online for the services enlisted here in the portal in addition to the existing procedure followed now. Deposition of fees shall be online and services, barring few, shall mostly be online. In the initial stage of launch there may be some technical snags and restrictions. But we assure to unfold greater periphery of services and make all affairs absolutely paper free and hassle free in coming days. We look forward to the cooperation and good wishes of all our stakeholders.
                                </div>
                            </div>
                            <div class="mb-2">
                                I would like to thank the officials of NIC and make special mention of my team members at the Administration Section of this Board who have indeed worked hard for upgrading our old website to this brand new shape of a portal. I convey my heartiest regards to all the teachers associated with us and lots of love and good wishes to our students.
                                &nbsp;<i class="fas fa-quote-right"></i>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-DeputySecretaryAcademic" role="tabpanel" aria-labelledby="v-pills-DeputySecretaryAcademic-tab">
                        <h6 class="text-center mt-2 custom-font-20 font-weight-bold">FROM THE DESK OF DEPUTY SECRETARY (ACADEMIC), WBBSE</h6>
                        <div class="text-center my-3">
                            <img src="~/ReadWriteData/BoardDesk/DeputySecretaryAcademic.jpg" class="img-fluid img-thumbnail shadow" />
                        </div>
                        <div class="text-center mb-3 font-weight-bold">
                            <span class="shadow-sm p-2">DR. PARTHA KARMAKAR</span>
                        </div>
                        <div class="p-3 text-justify">
                            <div class="mb-2">
                                <i class="fas fa-quote-left"></i>&nbsp;
                                Hello viewers,
                            </div>
                            <div class="mb-2">
                                WBBSE is going to upgrade the website with new look and widened Horizon encompassing every sphere of modern education compatible to the coming decades of 21st century.
                            </div>
                            <div class="mb-2">
                                The major features of its educational gallery are:
                            </div>
                            <div class="mb-2">
                                <ol>
                                    <li>
                                        Revised curriculum (as framed in the light of NCF 2005 and RTE 2009) for enabling the learners to be a competent youth force for facing the challenges of 21st century, Notifications related to smoothening of educational activities (such as a AAC, framing of routines, conduction of summative evaluation and test examination etc.
                                    </li>
                                    <li>
                                        Glimpses of our rich educational heritage pertaining to excellences of school and brilliant performances of our students throughout West Bengal.
                                    </li>
                                    <li>
                                        Inculcation of values instrumental to right choice in life through different thoughts, expressions, writings, citing stories, demonstrating decisions.
                                    </li>
                                    <li>
                                        Fostering co-curricular activities to enhance learning activities of learners at school. There are compulsory activities which are mandatory for every student to participate, perform and excel. They are to be designed and balanced with academic curriculum in such a way so that each learner would be able to accumulate knowledge and learn beyond subject boundary.
                                    </li>
                                    <li>
                                        Glimpses of performances on principles of health and physical education are essential to the development of motor skills and the enhancement of reflexes. Its wide range of curricular areas and diversities would improve different aspects of coordination and increments leading to healthy body posture and mental tranquility. The website of WBBSE would provide different exemplary activities for helping the students to adopt educated decisions regarding their own health, safety and well being as well as for social benefits.
                                        <p class="mb-1"></p>
                                        WBBSE would promote different skill based activities. The soft skills which are necessary to cope up with the hazards of daily life are – communication, ability to work under pressure, decision making, time management, self motivation, conflict resolution, leadership and adaptability (skills are one’s abilities using less time, energy and resource to perform a task). Skills can be divided into soft skills, hard skills, domain specific skills and general skills. The dream and motto of WBBSE is to enrich and empower each and every Learner's resume with the imprint of skill areas so that procuring a job or handling the pressure of maintaining the job would no more be pain-staking or a nightmare. WBBSE wishes to offer learners the basics of critical thinking skill, problem-solving skill, employability skill, time-management skill, team-work skill, transferable skills and others as per demand of the time through this web-platform.
                                    </li>
                                    <li>
                                        For an effective implementation of the skill-based activities in classroom situation, Expected Learning Outcome (ELO) and Internal Formative Evaluation (IFE) for classes IX and X have been introduced.
                                    </li>
                                </ol>
                            </div>
                            <div class="mb-2">
                                Some of the pages of this website would be earmarked for contact numbers of different eminent  educationists, teachers, psychologists, persons exhibiting brilliance in the Madhyamik examinations in near and remote past, educational administrators, so that learners may contact and resolve their problems with a click of a button. This attempt would bridge the communication gap and establish a collaborative platform for neutralizing stress-related problems and improving decision making abilities.
                                WBBSE would work on, for developing a grievance app as an initiative to restore equality and enhance quality of education. It would encompass the following areas: reservation at the time of admission, denial of admission, admission procedures and follow up, curriculum gap, ICT inclusion, school infrastructure, Mid-day meal, SMCS, government orders, Fees, views of civil society, Expected Learning Outcomes, Classroom transactions, duties and responsibilities of a teacher, role of Headmistress/Headmaster, School Development plan, Leave disputes, toilet facilities, expulsion and detention in classes, debarring from governmental facilities, Teacher grievances etc. WBBSE wants to assure a prompt response and requests all stakeholders pertaining to school education to make the best use of this initiative.
                                WBBSE is the parental body nurturing the dreams of millions of students since 1950 till date. It is like a banyan tree offering shades in the lives of aspiring youths. It wants to work for career development and career mobility of learners often distracted without mentoring and issues related to dilemma of an individual’s career. As more and more diverse career options and professional opportunities are emerging, career counselling would certainly help learners make the right choice about their career goal, paths, development and unavoidable changes. WBBSE would update career options keeping in track with the demand in the society as well as in job market.
                                WBBSE would dedicate the pages of its newly upgraded website for following issues like scholarship, notification, views of social media regarding different issues of school education, celebration of days, environmental issues and awareness, social awareness drives, capacity building of teachers , innovative propositions related to teaching – learning activities, advocacy programs.
                            </div>
                            <div class="mb-2">
                                A fun corner, art and music corner would be there to reignite and exchange the thought processes.
                            </div>
                            <div class="mb-2">
                                WBBSE would pay its homage in its obituary page to the persons who have worked for WBBSE through ages for uplifting its position at the national and international level.
                            </div>
                            <div class="mb-2">
                                WBBSE would cover the details of result of Madhyamik examination, outstanding achievements, illuminating and recognizing performances of different boys and girls in different spheres of education.
                            </div>
                            <div class="mb-2">
                                WBBSE is instrumental in pivoting the roles of teachers in school. It wants to pilot the teacher’s diary and child profile / school completion certificate as per provision of RTE-2009 on an experimental basis. Suggestions are welcome to upgrade the proforma and make the school journey a successful story.
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-DeputySecretaryExamination" role="tabpanel" aria-labelledby="v-pills-DeputySecretaryExamination-tab">
                        <h6 class="text-center mt-2 custom-font-20 font-weight-bold">FROM THE DESK OF DEPUTY SECRETARY (EXAMINATION), WBBSE</h6>
                        <div class="text-center my-3">
                            <img src="~/ReadWriteData/BoardDesk/DeputySecretaryExamination.jpg" class="img-fluid img-thumbnail shadow" />
                        </div>
                        <div class="text-center mb-3 font-weight-bold">
                            <span class="shadow-sm p-2">MOUSUMI BANERJEE(BHADRA)</span>
                        </div>
                        <div class="p-2 text-justify">
                            <div class="mb-2">
                                <i class="fas fa-quote-left"></i>&nbsp;
                                This is surely great news for the Student Community as well as the Teacher Community attached to West Bengal Board of Secondary Education, that we are going to upgrade our website in order to serve them better. The Examination Section, WBBSE, will provide various facilities to relieve the students. presents and school authorities from attending Board's office and waiting in long queues for submission of forms and fees.
                            </div>
                            <div class="mb-2">
                                In this era of advance technology the system seems a bit slow and time-consuming and sometimes inconvenient too. That is why, Examination Section, WBBSE is going to introduce phase by phase online submission of Registration Form, Enrolment Forms, PPR/PPS Application Forms etc.
                            </div>
                            <div class="mb-2">
                                Notification regarding examination and allied matters will be uploaded in the Board’s website from time to time that the schools usually receive through camp offices arranged in different schools.
                            </div>
                            <div class="mb-2">
                                Camp offices arranged under Examination Section, throughout the year, for different purpose, could be reduced, gradually, in number and thus, things will be more convenient due to introduction of such a dynamic website.
                            </div>
                            <div class="mb-2">
                                In this way we can lessen the paper works, which, we know is considered as eco friendly, by way of saving trees to reduce global warming.
                            </div>
                            <div class="mb-2">
                                Upgradation of our website will relieve students and guardians from attending Board’s Office(s) from different corners of West Bengal.
                            </div>
                            <div class="mb-2">
                                Once schools wills register their names to this system, as narrated above, all the facilities will be available to them.
                            </div>
                            <div class="mb-2">
                                Examination Section and WBBSE, as a whole, are eager for betterment of service.
                            </div>
                            <div class="mb-2">
                                Best wishes for all.
                                &nbsp;<i class="fas fa-quote-right"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts
{
    <script src="~/js/BasicFunctions.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            try {
                //check whether to open particular tab or not
                var a = '@ViewData[ViewDataNames.ActiveLinkTab]';
                if (a != DefaultSetting.EmptyVal) {
                    $('#v-pills-tab a[href="' + a + '"]').tab('show');
                }

                $("#lnkCurrent").prop("href", window.location.href);
                //remove active link
                $("#ulMainMenu li").removeClass("custom-navbar");
                //get new active link id
                var activeLinkId = "@ViewData[ViewDataNames.ActiveLinkLI]";
                var activeLI = document.getElementById(activeLinkId);
                activeLI.classList.add("custom-navbar");
            }
            catch (err) { }
        });
    </script>
}
